@{
    ViewData["Title"] = "Gruplar";
}
<br>
<h1>@ViewData["Title"]</h1>
<br>
<html>

<head>

<title>CGM | Hastaneler</title>
<link rel="stylesheet" href="~/css/style.css" />
<link rel="stylesheet" href="~/css/boostrap.min.css" />
<link rel="stylesheet" href="~/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>

<body>
        <br>
        <td>Grup Seçiniz  </td>
         @Html.DropDownList("Groups", "Lütfen bir grup seçiniz...")
         <br>

<br>
<br>
<fieldset>Fonksiyon Giriniz
<input class="form-control" 
        id="myTextBox" 
        name="myTextBox" 
        type="text" 
        value="" />
</fieldset>  
<br>
<br>
<p><input type="submit" value="Girilen Bilgileri Kaydet" id="kaydet"/> </p>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/boostrap.min.js"></script>

</body>

</html>