@model ConpuGroupMedical.Models.Grup_Tanimi;

@{
    ViewData["Title"] = "GrupSil";
}
<br>
<h2>İşlem Sonucu</h2>
<br>
<h4>Silme İşlemi Başarıyla Tamamlandı</h4>
<div>
    <a asp-action="Grup_Islemleri">Grup Listesine Geri Dön</a>
</div>
<br>
