@model ConpuGroupMedical.Models.Hastane;

@{
    ViewData["Title"] = "HastaneSil";
}
<br>
<h2>İşlem Sonucu</h2>
<br>
<h4>Silme İşlemi Başarıyla Tamamlandı</h4>
<div>
    <a asp-action="Hastane_Islemleri">Hastane Listesine Geri Dön</a>
</div>
<br>
