@model ConpuGroupMedical.Models.Hastane;
@{
    ViewData["Title"] = "Hastaneler";
}
<br>
<h1>@ViewData["Title"]</h1>
<br>
<html>

<head>
    
<link rel="stylesheet" href="~/css/style.css" />
<link rel="stylesheet" href="~/css/boostrap.min.css" />
<link rel="stylesheet" href="~/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>

<body>

            <br>
              <label for="HastaneAdı">Hastane Seçiniz</label><br>
                <select class="form-control" id="HastaneAdı" name="HastaneAdı">
                <option selected disabled>----------------- Lütfen Hastane Adı Seçiniz -----------------</option> 
                <option>Yeni Hastane 1</option>
                <option>Yeni Hastane 2</option>
                <option>Yeni Hastane 3</option>
                <option>Yeni Hastane 4</option> 
                </select>
       
            <br>



            <br>
                <label for="SigortaAdı">Sigorta Seçiniz</label><br>
                <select class="form-control" id="SigortaAdı" name="SigortaAdı">
                <option selected disabled>----------------- Lütfen Sigorta Şirketi Seçiniz -----------------</option> 
                <option>Yeni Sigorta 1</option>
                <option>Yeni Sigorta 2</option>
                <option>Yeni Sigorta 3</option>
                <option>Yeni Sigorta 4</option> 
                </select>

            <br>

<br>

<fieldset>Fonksiyon Giriniz
<input class="form-control" 
        id="myTextBox" 
        name="myTextBox" 
        type="text" 
        value="" />
</fieldset>  
<br>
<br>
<p><input type="submit" value="Girilen Bilgileri Kaydet" id="kaydet"/> </p>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/boostrap.min.js"></script>

</body>

</html>