@{
    ViewData["Title"] = "Home Page";
}
<html>

<head>

<title>CGM | Ana Sayfa</title>

</head>
<body>

<div class="text-center">
    <h1 class="display-4">CompuGroupMedical | Sağlık Fonksiyonları </h1> 
    <br>
    <p>CompuGroupMedical Türkiye Sitesine Gitmek için  <a href="https://www.cgm.com/tr/index.tr.jsp">Buraya Tıklayın</a>.</p> 
</div>
<br>

<h3>CompuGroup Medical Türkiye</h3> <br>

<h4>CGM, güçlü bölgesel varlığı ve yaygın sağlık sağlayıcıları ağı ile uluslararası bir kurumsal yapıdır.</h4> <br>

<h5>CGM Türkiye, yerel pazar lideri olan şirketin devralınıp CGM bünyesine katılmasıyla oluşmuştur.
<br>

İstanbul, Ankara, İzmir, Kocaeli, Adana ve Bursa'da yer alan CGM ekibimiz sağlık geri ödeme kurumlarına yönelik ürün ve hizmet vermektedir.</h5>

</body>
</html>