@model ConpuGroupMedical.Models.Sigorta_Fonksiyonlari;
<!DOCTYPE html>
@{
    ViewData["Title"] = "Sigorta_Fonksiyonlari_Ekle";
}
<html>
    <head>

    </head>
    <body>
        <h1>Sigorta Fonksiyonları Ekleme Sayfası</h1>
 @using (Html.BeginForm("Sigorta_Fonksiyonlari_Ekle","Home", FormMethod.Post))
            {
            <br>
            <br>

            <tr>
                <td>Sigorta Seçiniz  </td>
                <td>
                @Html.DropDownList("Sigortas", "Lütfen seçiniz")
                </td>
            </tr>  

            <br>
            <br>

            <tr>
                <td>Fonksiyon Seçiniz  </td>
                <td>
                @Html.DropDownList("Fonk", "Lütfen seçiniz")
                </td>
            </tr>

            <br>
            <br>
            
        <button type="submit" id="save" class="btn btn-primary">Yeni Sigorta Fonksiyon Bilgilerini Kaydet</button>
        <br>
            }
        <div> 
            <a asp-action="Sigorta_Fonksiyon_Islemleri"> Sigorta Fonksiyon Listesine Geri Dön</a> 
        </div> 

    </body>
</html>