@model ConpuGroupMedical.Models.Sigorta_Fonksiyonlari;
<!DOCTYPE html>
@{
    ViewData["Title"] = "Sigorta_Fonksiyonlari_Duzenle";
}
<html>
    <head>

    </head>
    <body>
        <h1>Sigorta Fonksiyonu Düzenleme Sayfası</h1>
        <br>
 @using (Html.BeginForm("Sigorta_Fonksiyonlari_Duzenle","Home", FormMethod.Post))
            {
                <br>
                <br>
            <tr>
                <td>Fonksiyon Adı</td>
                <td>
                @Html.DropDownList("Fonk", "Seçiniz")
                </td>
            </tr>  

            <br>
            <br>

            <tr>
                 <td>Sigorta Adı </td>
                <td>
                @Html.DropDownList("Sigortas", "Seçiniz")
                </td>
            </tr>


            <br>
            <br>

             <button type="submit" id="save" class="btn btn-primary"  >Sigorta Fonksiyonu Düzenlemeyi Tamamla</button>
  

            <br>
            <br>
            }
        <div> 
            <a asp-action="Sigorta_Fonksiyon_Islemleri"> Sigorta Fonksiyon Listesine Geri Dön</a>
        </div> 

            <br>
        

    </body>
</html>