@model ConpuGroupMedical.Models.Sigorta;

@{
    ViewData["Title"] = "SigortaSil";
}
<br>
<h2>İşlem Sonucu</h2>
<br>
<h4>Silme İşlemi Başarıyla Tamamlandı</h4>
<div>
    <a asp-action="Sigorta_Islemleri">Sigorta Listesine Geri Dön</a>
</div>
<br>
