@model ConpuGroupMedical.Models.Sigorta_Fonksiyonlari;

@{
    ViewData["Title"] ="Sigorta_Fonksiyonlari_Sil";
}
<br>
<h2>İşlem Sonucu</h2>
<br>
<h4>Silme İşlemi Başarıyla Tamamlandı</h4>
<div>
    <a asp-action="Sigorta_Fonksiyonlari">Sigorta Fonksiyonları Listesine Geri Dön</a>
</div>
<br>
